[Unit]
Description=RealWorld Backend Service
After=syslog.target network.target mysql.service

[Service]
User=ubuntu
# Change this path to where you upload the jar
ExecStart=/usr/bin/java -jar /home/ubuntu/app/realworld-app.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

# Environment variables for production
Environment="SPRING_PROFILES_ACTIVE=mysql"
Environment="MYSQL_HOST=realworld-db.c54qq8k0wsin.us-east-2.rds.amazonaws.com"
Environment="MYSQL_USER=admin"
Environment="MYSQL_PASSWORD=admin123"
Environment="MYSQL_DATABASE=realworld"
# Add other secrets here or load from a file

[Install]
WantedBy=multi-user.target
